<section class="hero is-info is-medium">
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="title"><span class="icon is-large"><i class="fa fa-compass fa-3x"></i></span><br>
			<br>
			Compass.js</p>
			<p class="subtitle">A truly client side router.</p>
		</div>
	</div>
</section>

<section class="section">
	<div class="container is-fluid">
		<h1 class="title">What is Compass.js?</h1>
		<h2 class="subtitle">
			Compass is a javascript router which runs entirely within the browser, allowing you to build even more dynamic web experiences.
		</h2>
<pre style="margin: 0; line-height: 125%">compass.map({
    <span style="color: #aa5500">&quot;/&quot;</span> : index,
    <span style="color: #aa5500">&quot;/posts&quot;</span> : posts,
    <span style="color: #aa5500">&quot;/posts/:id&quot;</span> : posts
});
</pre>


		<br />
		<h2 class="subtitle">
			Want to learn more? Check out our <a href="compass.js/#/docs">documentation</a>.
		</h2>
	</div>
</section>

